################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkTogether/obj
/WorkTogether/.vs
/WorkTogether/bin/Debug/net6.0
