################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkTogether/obj
work_together_flutter/linux/flutter/generated_plugin_registrant.cc
work_together_flutter/linux/flutter/generated_plugin_registrant.h
work_together_flutter/linux/flutter/generated_plugins.cmake
work_together_flutter/macos/Flutter/GeneratedPluginRegistrant.swift
work_together_flutter/windows/flutter/generated_plugin_registrant.cc
work_together_flutter/windows/flutter/generated_plugin_registrant.h
work_together_flutter/windows/flutter/generated_plugins.cmake
